.opportunities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 0;
}
    @media (max-width: 600px) {
        .opportunities {
            justify-content: center;
        }
    }
    .opportunity {
        flex: 0 1 216px;
        padding: 0 10px 20px;
    }
        .opportunity h6 {
            margin: 0;
            font-size: 15px;
            font-weight: 700;
            line-height: 40px;
            text-transform: uppercase;
        }

            .opportunity h6:before {
                content: "";
                background-color: #2aacc8;
                display: inline-block;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-position: center;
                background-repeat: no-repeat;
                margin-right: 5%;
                vertical-align: top;
            }

            h6.pencil:before {
                background-image: url(../img/pencil.png);
            }

            h6.fullscreen:before {
                background-image: url(../img/fullscreen.png);
            }

            h6.lists:before {
                background-image: url(../img/list.png);
            }
            h6.plane:before {
                background-image: url(../img/airplane.png);
            }

            .opportunity p {
                height: 120px;
                font-size: 13px;
                font-weight: 400;
                line-height: 20px;
                color: #363636;
                overflow: hidden;
            }

        .opportunity a {
            text-decoration: none;
            color: #2aacc8;
        }

        .opportunity a:before {
            content: "\25b8";
            display: inline;
            color: black;
            clear: both;
            padding-right: 10px;
        }

.bgc {
    padding-bottom: 50px;
    background-color: #ffffff;
    border-top: 1px solid #ccc7c7;
}